package ${package.ServiceImpl};

import cn.hutool.core.lang.Assert;
import cn.hutool.core.util.StrUtil;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import ${package.Parent}.model.entity.${entity};

import java.util.Arrays;
import java.util.List;
/**
 * $!{table.comment}服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
@RequiredArgsConstructor
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {


    /**
    * 获取$!{table.comment}分页列表
    *
    * @param queryParams 查询参数
    * @param pageNum 页号
     * @param pageSize 页大小
     *
    * @return {@link IPage<${entity}>} $!{table.comment}分页列表
    */
    @Override
    public IPage<${entity}> listPaged${entity}s(${entity} queryParams, Integer pageNum, Integer pageSize) {
    

        Page<${entity}> page = new Page<>(pageNum, pageSize);


        // 查询数据
        Page<${entity}> boPage = this.baseMapper.listPaged${entity}s(page, queryParams);

        return boPage;
    }
    
    /**
     * 获取$!{table.comment}表单数据
     *
     * @param id $!{table.comment}ID
     * @return
     */
    @Override
    public ${entity} get${entity}Data(Long id) {
        ${entity} entity = this.getById(id);
        return entity;
    }
    
    /**
     * 新增$!{table.comment}
     *
     * @param formData $!{table.comment}表单对象
     * @return
     */
    @Override
    public boolean save${entity}(${entity} formData) {

        return this.save(formData);
    }
    
    /**
     * 更新$!{table.comment}
     *
     * @param id   $!{table.comment}ID
     * @param formData $!{table.comment}表单对象
     * @return
     */
    @Override
    public boolean update${entity}(Long id,${entity} formData) {
        return this.updateById(formData);
    }
    
    /**
     * 删除$!{table.comment}
     *
     * @param ids $!{table.comment}ID，多个以英文逗号(,)分割
     * @return true|false
     */
    @Override
    public boolean delete${entity}s(String ids) {
        Assert.isTrue(StrUtil.isNotBlank(ids), "删除的$!{table.comment}数据为空");
        // 逻辑删除
        List<Long> idList = Arrays.stream(ids.split(","))
                .map(Long::parseLong)
                .toList();
        return this.removeByIds(idList);
    }
    

}
