<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.lecture.system.mapper.AnnouncementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.lecture.system.model.entity.Announcement">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="publisher_id" property="publisherId" />
        <result column="status" property="status" />
        <result column="is_top" property="isTop" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="view_count" property="viewCount" />
        <result column="publish_time" property="publishTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
       <result column="publisher_name" property="publisherName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, publisher_id, status, is_top, start_time, end_time, view_count, publish_time, create_time, update_time
    </sql>


    <!-- 公告信息表分页列表 -->
    <select id="listPagedAnnouncements" resultMap="BaseResultMap">
        SELECT
           a.id as id,
            a.title as title,
            a.content as content,
            a.publisher_id as publisher_id,
            a.status as status,
            a.is_top as is_top,
            a.start_time as start_time,
            a.end_time as end_time,
            a.view_count as view_count,
            a.publish_time as publish_time,
            a.create_time as create_time,
            a.status as status,
            a.update_time as update_time,
            u.nickname as publisher_name
            from announcement a left join user u on a.publisher_id=u.id
        <where>
            <if test='queryParams.title!=null and queryParams.title.trim() neq ""'>
                AND (
                    title LIKE CONCAT('%',#{queryParams.title},'%')
                )
            </if>
            <if test='queryParams.publisherId!=null'>
                AND (
                    publisher_id = #{queryParams.publisherId}
                )
            </if>
            <if test='queryParams.status!=null'>
                AND (
                    a.status = #{queryParams.status}
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
