<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.selection.system.mapper.ApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.online_store.system.model.entity.Apply">
        <id column="id" property="id" />
        <result column="stu_id" property="stuId" />
        <result column="job_id" property="jobId" />
        <result column="resume" property="resume" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="recruiter_id" property="recruiterId" />
    </resultMap>

    <resultMap id="ApplyVO" type="com.lee.online_store.system.model.vo.ApplyVO">
        <id column="id" property="id" />
        <result column="job_name" property="jobName" />
        <result column="student_name" property="studentName" />
        <result column="student_phone" property="studentPhone" />
        <result column="recruiter_name" property="recruiterName" />
        <result column="resume" property="resume" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stu_id, job_id, resume, create_time, update_time, status, recruiter_id
    </sql>


    <!-- 申请分页列表 -->
    <select id="listPagedApplys" resultMap="ApplyVO">
        select
            a.id,
            j.name as job_name,
            u.nickname as student_name,
            u.phone as student_phone,
            r.nickname as recruiter_name,
            a.resume,
            a.create_time,
            a.update_time,
            a.status
        FROM apply a
        LEFT JOIN job_info j ON a.job_id = j.id
        LEFT JOIN user u ON a.stu_id = u.id
        LEFT JOIN user r ON a.recruiter_id = r.id
        <where>
            <if test='queryParams.jobName!=null and queryParams.jobName.trim() neq ""'>
                AND (
                    j.name LIKE CONCAT('%',#{queryParams.jobName},'%')
                )
            </if>
        <if test="queryParams.recruiterId!=null">
            AND a.recruiter_id = #{queryParams.recruiterId}
        </if>
        </where>
        ORDER BY a.id DESC
    </select>


</mapper>
