<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Category">
        <id column="id" property="id" />
        <result column="category_name" property="categoryName" />
        <result column="parent_id" property="parentId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_name, parent_id, remark
    </sql>


    <!-- 商品分类分页列表 -->
    <select id="listCategorys" resultType="com.lee.warehouse.system.model.entity.Category">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            t_category
        <where>
            <if test='queryParams.categoryName!=null and queryParams.categoryName.trim() neq ""'>
                AND (
                category_name LIKE CONCAT('%',#{queryParams.categoryName},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
