<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.system.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.system.model.entity.Comment">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="type" property="type" />
        <result column="target_id" property="targetId" />
        <result column="content" property="content" />
        <result column="score" property="score" />
        <result column="like_count" property="likeCount" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, type, target_id, content, score, like_count, status, create_time, update_time
    </sql>


    <!-- 评论表分页列表 -->
    <select id="listPagedComments" resultType="com.lee.system.model.entity.Comment">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            comment
        <where>

            <if test='queryParams.type!=null'>
                AND (
                    type = #{queryParams.type}
                )
            </if>


            <if test='queryParams.status!=null'>
                AND (
                    status = #{queryParams.status}
                )
            </if>

                <if test='queryParams.userName!=null and queryParams.userName.trim() neq ""'>
                    AND (
                        user_name LIKE CONCAT('%',#{queryParams.userName},'%')
                    )
                </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
