<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.selection.system.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.selection.system.model.entity.Course">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="credit" property="credit"/>
        <result column="duration" property="duration"/>
        <result column="major_id" property="majorId"/>
        <result column="exam_score_ratio" property="examScoreRatio"/>
        <result column="type" property="type"/>
        <result column="attribute" property="attribute"/>
        <result column="start_time" property="startTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, credit, duration, major_id, exam_score_ratio, type, attribute, start_time, status
    </sql>

   <insert id="addCourseTeachers" parameterType="map">
    <bind name="tableName" value="'course_teacher'"/>
    <bind name="courseIdColumn" value="'course_id'"/>
    <bind name="teacherIdColumn" value="'teacher_id'"/>

    insert into ${tableName}
    (${courseIdColumn}, ${teacherIdColumn})
    values
    <foreach collection="teacherIds" item="item" separator=",">
        (#{id}, #{item})
    </foreach>
</insert>


    <delete id="deleteCourseTeachers">
        DELETE
        FROM course_teacher
        WHERE course_id in
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 课程信息表分页列表 -->
    <select id="listPagedCourses" resultType="com.lee.selection.system.model.bo.CourseBO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        course
        <where>

            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test="queryParams.startTime != null">
                AND start_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.status != null">
                AND status = #{queryParams.status}
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="getTeacherIds" resultType="java.lang.Integer">
        SELECT teacher_id
        FROM course_teacher
        WHERE course_id = #{id}
    </select>

</mapper>
