<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.selection.system.mapper.CourseSelectionSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.selection.system.model.entity.CourseSelectionSetting">
        <id column="id" property="id" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, start_time, end_time
    </sql>


    <!-- 选课设置分页列表 -->
    <select id="listPagedCourseSelectionSettings" resultType="com.lee.selection.system.model.bo.CourseSelectionSettingBO">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            course_selection_setting

    </select>

</mapper>
