<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Customer">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="contact_info" property="contactInfo" />
        <result column="address" property="address" />
        <result column="email" property="email" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, contact_info, address, email, create_time, update_time
    </sql>


    <!-- 客户信息分页列表 -->
    <select id="listPagedCustomers" resultType="com.lee.warehouse.system.model.entity.Customer">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            customers
        <where>
            <if test='queryParams.name!=null and queryParams.name.trim() neq ""'>
                AND (
                    name LIKE CONCAT('%',#{queryParams.name},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="listCustomerOptions" resultType="com.lee.warehouse.system.model.entity.Customer">
        SELECT
            id,name
        FROM
            customers
        ORDER BY id DESC
    </select>

</mapper>
