<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.InventoryTransactionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.InventoryTransaction">
        <id column="id" property="id"/>
        <result column="transaction_date" property="transactionDate"/>
        <result column="order_id" property="orderId"/>
        <result column="transaction_type" property="transactionType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="customer_name" property="customerName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, transaction_date, order_id, transaction_type, create_time, update_time
    </sql>


    <!-- 库存交易信息分页列表 -->
    <select id="listPagedInventoryTransactions" resultMap="BaseResultMap">
        SELECT
        i.id as id,
        i.order_id as order_id,
        i.transaction_date as transaction_date,
        i.transaction_type as transaction_type,
        i.create_time as create_time,
        i.update_time as update_time,
        o.order_date as order_date,
        o.total_amount as total_amount
               <choose>
                   <when test="queryParams.transactionType!=null and queryParams.transactionType.equals('PURCHASE') ">
                       ,s.name as supplier_name
                   </when>
                   <when test="queryParams.transactionType!=null and queryParams.transactionType.equals('SALE') ">
                       ,c.name as customer_name
                   </when>
               </choose>

        FROM
        inventory_transaction i left join t_order o on i.order_id = o.id
        <choose>
            <when test="queryParams.transactionType!=null and queryParams.transactionType.equals('PURCHASE') ">
                left join suppliers s on o.supplier_id = s.id
            </when>
            <when test="queryParams.transactionType!=null and queryParams.transactionType.equals('SALE') ">
                left join customers c on o.customer_id = c.id
            </when>
        </choose>

        <where>
            <if test='queryParams.transactionType!=null and queryParams.transactionType!="" '>
                AND i.transaction_type = #{queryParams.transactionType}
            </if>
        <if test="queryParams.startDate!=null">
            AND i.transaction_date >= #{queryParams.startDate}
        </if>
        <if test="queryParams.endDate!=null">
            AND i.transaction_date <![CDATA[<=]]> #{queryParams.endDate}
        </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
