<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.InventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Inventory">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="quantity" property="quantity" />
        <result column="production_date" property="productionDate" />
        <result column="expiration_date" property="expirationDate" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />

        <association property="warehouse" javaType="com.lee.warehouse.system.model.entity.Warehouse">
            <id column="warehouse_id" property="id" />
            <result column="warehouse_name" property="name" />
            <result column="location" property="location" />
        </association>
        <association property="product" javaType="com.lee.warehouse.system.model.entity.Product" >
                <id column="product_id" property="id"/>
            <result column="product_name" property="name" />
        </association>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, warehouse_id, quantity, production_date, expiration_date, create_time, update_time
    </sql>


    <!-- 库存信息分页列表 -->
    <select id="listPagedInventorys" resultMap="BaseResultMap">
        SELECT
            i.id AS id,
            i.product_id AS product_id,
            i.warehouse_id AS warehouse_id,
            i.quantity AS quantity,
            i.production_date AS production_date,
            i.expiration_date AS expiration_date,
            i.create_time AS create_time,
            i.update_time AS update_time,
            p.name AS product_name,
            w.name AS warehouse_name

        FROM
            inventory i left join product p on p.id = i.product_id
                                                 left join warehouse w on w.id = i.warehouse_id
        <where>
<!--            <if test='queryParams.name!=null '>-->
<!--                AND (-->
<!--                    name LIKE CONCAT('%',#{queryParams.name},'%')-->
<!--                )-->
<!--            </if>-->
            <if test='queryParams.productId!=null '>
                AND (
                    product_id = #{queryParams.productId}
                )
            </if>
            <if test='queryParams.warehouseId!=null'>
                AND (
                    warehouse_id = #{queryParams.warehouseId}
                )
            </if>

        </where>
        ORDER BY id DESC
    </select>

</mapper>
