<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.selection.system.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.online_store.system.model.entity.Message">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="detail" property="detail" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, email, detail, create_time
    </sql>


    <!-- 留言分页列表 -->
    <select id="listPagedMessages" resultType="com.lee.online_store.system.model.entity.Message">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            message
        <where>
            <if test='queryParams.detail!=null and queryParams.detail.trim() neq ""'>
                AND (
                    detail LIKE CONCAT('%',#{queryParams.detail},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
