<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.selection.system.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.selection.system.model.entity.Notice">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="publish_time" property="publishTime"/>
        <result column="publisher" property="publisher"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, publish_time, publisher, type, status
    </sql>


    <!-- 公告信息分页列表 -->
    <select id="listPagedNotices" resultType="com.lee.selection.system.model.bo.NoticeBO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        notice
        <where>
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                title LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                content LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>

            <if test='queryParams.type!=null'>
                AND type = #{queryParams.type}
            </if>
            <if test='queryParams.status!=null'>
                AND status = #{queryParams.status}
            </if>

        </where>
        ORDER BY id DESC
    </select>

</mapper>
