<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Notice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />

        <result column="create_time" property="createTime" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content,  create_time
    </sql>


    <!-- 公告信息分页列表 -->
    <select id="listPagedNotices" resultType="com.lee.warehouse.system.model.entity.Notice">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            t_notice
        <where>
            <if test='queryParams.title!=null and queryParams.title.trim() neq ""'>
                AND (
                    title LIKE CONCAT('%',#{queryParams.title},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
