<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.questionnaire.system.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.questionnaire.system.model.entity.Notice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="publisher_id" property="publisherId" />
        <result column="status" property="status" />
        <result column="is_top" property="isTop" />
        <result column="publish_time" property="publishTime" />
        <result column="expire_time" property="expireTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="publish_name" property="publisherName"/>
    </resultMap>

    <!-- 通用查询结果列 -->


    <!-- 公告表分页列表 -->
    <select id="listPagedNotices" resultType="com.lee.questionnaire.system.model.entity.Notice">
        SELECT
            n.id as id,
            n.title as title,
            n.content as content,
            n.type as type,
            n.publisher_id as publisherId,
            n.status as status,
            n.is_top as isTop,
            n.publish_time as publishTime,
            n.expire_time as expireTime,
            n.create_time as createTime,
            n.update_time as updateTime,
            u.nickname as publisherName
        FROM
            notice n left join  user u on n.publisher_id = u.id
        <where>
            <if test='queryParams.title!=null and queryParams.title.trim() neq ""'>
                AND (
                    title LIKE CONCAT('%',#{queryParams.title},'%')
                )
            </if>
            <if test='queryParams.type!=null and queryParams.type.trim() neq ""'>
                AND (
                    type = #{queryParams.type}
                )
            </if>
            <if test='queryParams.status!=null and queryParams.status.trim() neq ""'>
                AND (
                    n.status = #{queryParams.status}
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
