<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.OrderProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="VOBaseMap" type="com.lee.warehouse.system.model.vo.OrderProductVO">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="product_id" property="productId"/>
        <result column="quantity" property="quantity"/>
        <result column="price" property="price"/>
        <result column="discount_value" property="discountValue"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="product_name" property="productName"/>
        <result column="product_img" property="productImg"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, product_id, quantity, price, discount_value, discount_amount
    </sql>
    <insert id="saveBatch">
        insert into t_order_product
        (order_id, product_id, quantity, price, discount_value, discount_amount)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId},#{item.productId},#{item.quantity},#{item.price},#{item.discountValue},#{item.discountAmount})
        </foreach>
    </insert>


    <!-- 订单商品关联分页列表 -->
    <select id="listOrderProductsByOrderId" resultMap="VOBaseMap">
        SELECT
        op.id as id,
        op.order_id as orderId,
        op.product_id as productId,
        op.quantity as quantity,
        op.price as price,
        op.discount_value as discount_value,
        op.discount_amount as discount_amount,
        p.product_name as product_name,
        p.img1 as product_img,
        c.category_name as category_name
        FROM
        t_order_product op
        join t_product p on p.id=op.product_id
        join t_category c on c.id = p.category_id
        <where>
            <if test='orderId!=null '>
                and order_id=#{orderId}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
