<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.OrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.OrderDetail">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="product_id" property="productId" />
        <result column="quantity" property="quantity" />
        <result column="price" property="price" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, product_id, quantity, price, create_time, update_time
    </sql>
    <insert id="insertBatch">
        INSERT INTO order_detail (order_id, product_id, quantity, price, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.productId}, #{item.quantity}, #{item.price}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>
    <delete id="deleteByOrderId">
        DELETE FROM order_detail WHERE order_id = #{orderId}
    </delete>


    <!-- 订单详情信息分页列表 -->
    <select id="listPagedOrderDetails" resultType="com.lee.warehouse.system.model.entity.OrderDetail">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            order_detail
        <where>
            <if test='queryParams.name!=null and queryParams.name.trim() neq ""'>
                AND (
                    name LIKE CONCAT('%',#{queryParams.name},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
