<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Order">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="order_date" property="orderDate"/>
        <result column="status" property="status"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="shipping_address" property="shippingAddress"/>
        <result column="operator" property="operator"/>
        <result column="transaction_type" property="transactionType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="customer" javaType="com.lee.warehouse.system.model.entity.Customer">
            <id column="customer_id" property="id"/>
            <result column="customer_name" property="name"/>
        </association>
        <association property="supplier" javaType="com.lee.warehouse.system.model.entity.Suppliers">
            <id column="supplier_id" property="id"/>
            <result column="supplier_name" property="name"/>
        </association>
        <collection property="orderItems" ofType="com.lee.warehouse.system.model.entity.OrderDetail">
            <id column="product_id" property="productId"/>
            <result column="product_name" property="productName"/>
            <result column="quantity" property="quantity"/>
            <result column="price" property="price"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, supplier_id, order_date, status, total_amount, shipping_address, operator, transaction_type, create_time, update_time
    </sql>


    <!-- 订单信息分页列表 -->
    <select id="listPagedOrders" resultMap="BaseResultMap">
        SELECT
        o.id as id,
        o.customer_id as customer_id,
        o.supplier_id as supplier_id,
        o.order_date as order_date,
        o.status as status,
        o.total_amount as total_amount,
        o.shipping_address as shipping_address,
        o.operator as operator,
        o.transaction_type as transaction_type,
        o.create_time as create_time,
        o.update_time as update_time,
        c.name as customer_name,
        s.name as supplier_name
        FROM
        t_order o LEFT JOIN customers c ON o.customer_id=c.id
        LEFT JOIN suppliers s ON o.supplier_id=s.id
        <where>
                        <if test='queryParams.transactionType!=null and queryParams.transactionType.trim() neq ""'>
                            AND (
                                transaction_type = #{queryParams.transactionType}
                            )
                        </if>
        <if test="queryParams.startDate!=null">

                AND order_date >= #{queryParams.startDate}

        </if>
        <if test="queryParams.endDate!=null">

                AND order_date <![CDATA[<=]]> #{queryParams.endDate}

        </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="getOrderData" resultMap="BaseResultMap">
        SELECT o.id               as id,
               o.customer_id      as customer_id,
               o.supplier_id      as supplier_id,
               o.order_date       as order_date,
               o.status           as status,
               o.total_amount     as total_amount,
               o.shipping_address as shipping_address,
               o.operator         as operator,
               o.transaction_type as transaction_type,
               o.create_time      as create_time,
               o.update_time      as update_time,
               c.name             as customer_name,
               s.name             as supplier_name,
               od.product_id       as product_id,
               od.quantity as quantity,
               od.price as price,
               p.name as product_name

        FROM t_order o
                 LEFT JOIN customers c ON o.customer_id = c.id
                 LEFT JOIN suppliers s ON o.supplier_id = s.id
        left join order_detail od on od.order_id = o.id
        left join product p on p.id = od.product_id
        WHERE o.id = #{id}
    </select>
    <select id="listOrders" resultType="com.lee.warehouse.system.model.entity.Order">
        select id from t_order
        <where>
            <if test='queryParams.transactionType!=null and queryParams.transactionType.trim() neq ""'>
                AND (
                transaction_type = #{queryParams.transactionType}
                )
            </if>
                    <if test='queryParams.customerId!=null '>
                        AND (
                        customer_id = #{queryParams.customerId}
                        )
                    </if>
                            <if test='queryParams.supplierId!=null '>
                                AND (
                                supplier_id = #{queryParams.supplierId}
                                )
                            </if>
        </where>
    </select>

</mapper>
