<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.PaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Payment">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="payment_method" property="paymentMethod" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, payment_metnod, amount, status, create_time, update_time
    </sql>


    <!-- 支付信息分页列表 -->
    <select id="listPagedPayments" resultType="com.lee.warehouse.system.model.entity.Payment">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            t_payment
        <where>
            <if test="queryParams.orderId != null">
                AND order_id = #{queryParams.orderId}
            </if>
        
            <if test="queryParams.status != null">
                AND status = #{queryParams.status}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
