<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.PromotionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Promotion">
        <id column="id" property="id"/>
        <result column="promotion_name" property="promotionName"/>
        <result column="description" property="description"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="create_time" property="createTime"/>
        <result column="discount_type" property="discountType"/>
        <result column="discount_value" property="discountValue"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, promotion_name, description, start_time, end_time, create_time, discount_type, discount_value, update_time
    </sql>
    <insert id="addProductsToPromotion">
        INSERT INTO t_promotion_product(promotion_id, product_id) VALUES
        <foreach collection="productIds" item="productId" separator=",">
            (#{promotionId},#{productId})
        </foreach>
    </insert>
    <delete id="removeProductsFromPromotion">
        DELETE FROM t_promotion_product WHERE promotion_id = #{promotionId}
    </delete>


    <!-- 促销活动分页列表 -->
    <select id="listPagedPromotions" resultType="com.lee.warehouse.system.model.entity.Promotion">
        SELECT
        id, promotion_name, description, start_time, end_time, create_time, discount_type, discount_value, update_time



        FROM
        t_promotion
        <where>
            <if test='queryParams.promotionName!=null and queryParams.promotionName.trim() neq ""'>
                AND (
                promotion_name LIKE CONCAT('%',#{queryParams.promotionName},'%')
                )
            </if>
                    <if test='queryParams.startTime!=null'>
                        AND start_time >= #{queryParams.startTime}
                    </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="getProductIdsOfPromotion" resultType="java.lang.Integer">
        SELECT product_id FROM t_promotion_product WHERE promotion_id = #{promotionId}
    </select>

</mapper>
