<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.questionnaire.system.mapper.QuestionnaireMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.questionnaire.system.model.entity.Questionnaire">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="creator_id" property="creatorId" />
        <result column="status" property="status" />
        <result column="access_code" property="accessCode" />
        <result column="access_url" property="accessUrl" />
        <result column="password" property="password" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="is_anonymous" property="isAnonymous" />
        <result column="max_response" property="maxResponse" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="questions" ofType="com.lee.questionnaire.system.model.entity.Question">
            <id column="q_id" property="id" />
            <result column="q_questionnaire_id" property="questionnaireId" />
            <result column="q_title" property="title" />
            <result column="q_type" property="type" />
            <result column="q_required" property="required" />
            <result column="q_sort" property="sort" />
            <result column="q_score_max" property="scoreMax" />
            <collection property="options" ofType="com.lee.questionnaire.system.model.entity.QuestionOption">
                <id column="o_id" property="id" />
                <result column="o_question_id" property="questionId" />
                <result column="o_content" property="content" />
                <result column="o_sort" property="sort" />

            </collection>
        </collection>
    </resultMap>
<!--   s-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, description, creator_id, status, access_code, access_url, password, start_time, end_time, is_anonymous, max_response, create_time, update_time, deleted
    </sql>


    <!-- 问卷表分页列表 -->
    <select id="listPagedQuestionnaires" resultType="com.lee.questionnaire.system.model.entity.Questionnaire">
        SELECT
            <include refid="Base_Column_List"/>
            FROM questionnaire
        <where>
<!--            <if test='queryParams.name!=null and queryParams.name.trim() neq ""'>-->
<!--                AND (-->
<!--                    name LIKE CONCAT('%',#{queryParams.name},'%')-->
<!--                )-->
<!--            </if>-->
        </where>
        ORDER BY id DESC
    </select>
    <select id="getQuestionnaireData" resultMap="BaseResultMap">
        select
            q1.*,
            q2.id as q_id,
            q2.title as q_title,
            q2.type as q_type,
            q2.required as q_required,
            q2.sort as q_sort ,
            q2.score_max as q_score_max,
            q3.id as o_id,
            q3.content as o_content,
            q3.sort as o_sort

        from questionnaire q1 left join  question q2 on q1.id = q2.questionnaire_id
        left join question_option q3 on q2.id = q3.question_id
        where q1.id = #{id}
        order by q2.sort,q3.sort
    </select>

</mapper>
