<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.questionnaire.system.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.questionnaire.system.model.entity.Question">
        <id column="id" property="id" />
        <result column="questionnaire_id" property="questionnaireId" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="required" property="required" />
        <result column="sort" property="sort" />
        <result column="score_max" property="scoreMax" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, questionnaire_id, title, type, required, sort, score_max, create_time, update_time
    </sql>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO question (
            questionnaire_id,
            title,
            type,
            required,
            sort,
            score_max
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.questionnaireId},
                #{item.title},
                #{item.type},
                #{item.required},
                #{item.sort},
                #{item.scoreMax}
            )
        </foreach>
    </insert>
    <delete id="deleteByQuestionnaireId">
        DELETE FROM question WHERE questionnaire_id = #{questionnaireId}
    </delete>


    <!-- 问题表分页列表 -->
    <select id="listPagedQuestions" resultType="com.lee.questionnaire.system.model.entity.Question">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            question
        <where>
            <if test='queryParams.name!=null and queryParams.name.trim() neq ""'>
                AND (
                    name LIKE CONCAT('%',#{queryParams.name},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
