<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.selection.system.mapper.RecruiterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.online_store.system.model.entity.Recruiter">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="company_id" property="companyId" />
        <result column="department" property="department" />
        <result column="position" property="position" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, company_id, department, position
    </sql>


    <!-- 招聘者分页列表 -->
    <select id="listPagedRecruiters" resultType="com.lee.online_store.system.model.entity.Recruiter">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            recruiter
        <where>
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
