<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.lecture.system.mapper.ReservationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.lecture.system.model.entity.Reservation">
        <id column="id" property="id" />
        <result column="lecture_id" property="lectureId" />
        <result column="student_id" property="studentId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <association property="lecture" javaType="com.lee.lecture.system.model.entity.Lecture">
            <id column="lecture_id" property="id" />
            <result column="lecture_name" property="title" />
            <result column="cover_url" property="coverUrl" />
        </association>
        <association property="user" javaType="com.lee.lecture.system.model.entity.User">
            <id column="student_id" property="id" />
            <result column="nickname" property="nickname" />
            <result column="phone" property="phone" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lecture_id, student_id, status, create_time, update_time
    </sql>


    <!-- 讲座预约表分页列表 -->
    <select id="listPagedReservations" resultMap="BaseResultMap">
        SELECT
            r.id as id,
            r.lecture_id as lecture_id,
            r.student_id as student_id,
            r.status as status,
            r.create_time as create_time,
            r.update_time as update_time,
            l.title AS lecture_name,
            l.cover_url as cover_url,
            u.nickname as nickname,
            u.phone as phone
        FROM
            reservation r
        LEFT JOIN lecture l ON r.lecture_id = l.id
        LEFT JOIN user u ON r.student_id = u.id
        <where>
            <if test="queryParams.lectureId != null">
                AND lecture_id = #{queryParams.lectureId}
            </if>
                                <if test="queryParams.studentId != null">
                AND student_id = #{queryParams.studentId}
            </if>
            <if test="queryParams.status != null">
                AND r.status = #{queryParams.status}
            </if>

        </where>
        ORDER BY id DESC
    </select>

</mapper>
