<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.questionnaire.system.mapper.ResponseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.questionnaire.system.model.entity.Response">
        <id column="id" property="id" />
        <result column="questionnaire_id" property="questionnaireId" />
        <result column="user_id" property="userId" />
        <result column="submit_time" property="submitTime" />
        <result column="create_time" property="createTime" />
        <association property="questionnaire" javaType="com.lee.questionnaire.system.model.entity.Questionnaire">
            <id column="questionnaire_id" property="id" />
            <result column="questionnaire_title" property="title" />
            <result column="description" property="description" />
            <result column="is_anonymous" property="isAnonymous"/>
        </association>
        <collection property="answers" ofType="com.lee.questionnaire.system.model.entity.Answer" >
            <id column="id" property="id" />
            <result column="response_id" property="responseId" />
            <result column="question_id" property="questionId" />
            <result column="option_id" property="optionId" />
            <result column="option_ids" property="optionIds" />
            <result column="text_answer" property="textAnswer" />
            <result column="score" property="score" />
            <result column="create_time" property="createTime" />
            <association property="question" javaType="com.lee.questionnaire.system.model.entity.Question">
                <id column="question_id" property="id" />
                <result column="question_title" property="title" />
                <result column="question_type" property="type" />
            </association>
        </collection>


    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, questionnaire_id, user_id, submit_time, create_time
    </sql>



    <!-- 答卷表分页列表 -->
    <select id="listPagedResponses" resultMap="BaseResultMap">
        SELECT
            r.id as id, questionnaire_id, user_id, submit_time, r.create_time as create_time, q.title as questionnaire_title,
            q.is_anonymous as is_anonymous
        FROM
            response r
        LEFT JOIN questionnaire q ON r.questionnaire_id = q.id
        <where>
            <if test='queryParams.userId!=null '>
                AND (
                    user_id = #{queryParams.userId}
                )
            </if>
            <if test='queryParams.questionnaireId!=null '>
                AND (
                    questionnaire_id = #{queryParams.questionnaireId}
                )
            </if>
            <if test='queryParams.questionnaire!=null and queryParams.questionnaire.title!=null and queryParams.questionnaire.title!="" '>
                AND (
                q.title like CONCAT('%',#{queryParams.questionnaire.title},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
