<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.online_store.system.mapper.ReviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.online_store.system.model.entity.Review">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="product_id" property="productId" />
        <result column="parent_id" property="parentId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="author_name" property="authorName" />
        <result column="author_avatar" property="authorAvatar" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, product_id, parent_id, content, create_time, author_name, author_avatar
    </sql>


    <!-- 评论分页列表 -->
    <select id="listPagedReviews" resultType="com.lee.online_store.system.model.entity.Review">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            t_review
        <where>
            <if test='queryParams.content!=null and queryParams.content.trim() neq ""'>
                AND (
                content LIKE CONCAT('%',#{queryParams.content},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="listReviews" resultType="com.lee.online_store.system.model.entity.Review">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            t_review
        <where>
            <if test='queryParams.content!=null and queryParams.content.trim() neq ""'>
                AND (
                content LIKE CONCAT('%',#{queryParams.content},'%')
                )
            </if>
                    <if test='queryParams.productId!=null'>
                AND product_id = #{queryParams.productId}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
