<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.warehouse.system.mapper.SuppliersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.warehouse.system.model.entity.Suppliers">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, email, remark, create_time, update_time
    </sql>


    <!-- 供应商信息分页列表 -->
    <select id="listPagedSuppliers" resultType="com.lee.warehouse.system.model.entity.Suppliers">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            suppliers
        <where>
            <if test='queryParams.name!=null and queryParams.name.trim() neq ""'>
                AND (
                    name LIKE CONCAT('%',#{queryParams.name},'%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="listSuppliersOptions" resultType="com.lee.warehouse.system.model.entity.Suppliers">
        SELECT
            id, name
        FROM
            suppliers
        ORDER BY id DESC
    </select>

</mapper>
