<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.online_store.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.online_store.system.model.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="gender" property="gender"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, nickname, phone, email, password, role, create_time, update_time,avatar,status,gender
    </sql>


    <!-- 用户信息分页列表 -->
    <select id="listPagedUsers" resultType="com.lee.online_store.system.model.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_user
        <where>
            <if test='queryParams.username!=null and queryParams.username.trim() neq ""'>
                AND (
                username LIKE CONCAT('%',#{queryParams.username},'%')
                )
            </if>
            <if test='queryParams.nickname!=null and queryParams.nickname.trim() neq ""'>
                AND (
                nickname LIKE CONCAT('%',#{queryParams.nickname},'%')
                )
            </if>
            <if test='queryParams.phone!=null and queryParams.phone.trim() neq ""'>
            AND (
            phone LIKE CONCAT('%',#{queryParams.phone},'%')
            )
            </if>

            <if test='queryParams.role!=null and queryParams.role.trim() neq ""'>
                AND (
                role = #{queryParams.role}
                )
            </if>
            <if test='queryParams.status!=null'>
                AND (
                status = #{queryParams.status}
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
